﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome Test Git Hub 22 Trigger GitLab</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <div>
            <span>@Model.Now</span>
            <input type="hidden" asp-for="Now" /> 
        </div>
    </div>
